body {
    background-image: url("computer.jpg");
    background-color: #cccccc;
   }

.personalInfo {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

/* .listOptions {
    text-align: center;

} */

.navbar-nav a {
    color: blue;
  }

  a ::before {
    padding-left: 100px;
  }