body {
    background-image: url("computer.jpg");
    background-color: #cccccc;
   }

.personalInfo {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

/* .listOptions {
    text-align: center;

} */

.navbar-nav {
    display: flex;
    justify-content: space-between;
  }