body {
    background-image: url("computer.jpg");
    background-color: #cccccc;
   }

.personalInfo {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

/* .listOptions {
    text-align: center;

} */

 .navbar{
    background-color: rgba(236, 239, 243, 0.9) !important;
  } 

  /* a ::before {
    padding-left: 100px;
  } */

  .box{
      /* background-color: #cccccc; */
      /* opacity: 50%; */
      background-color: rgba(236, 239, 243, 0.9);
  }

  .aboutMe{
      opacity: 100%;
  }

  .textAboutMe{
      padding: 5em;
      text-align: center;
  }

  .nav-link{
      font-size: 20px !important;
      font-family: 'Roboto Mono', monospace !important;
      font-weight: 100 Thin !important;
      padding-left: 10vw !important;
  }

  .welcomeMsg {
      text-align: center;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      padding-top: 1em;
  }

  .homeMessage {
      text-align: center;
      font-size: 1em;
      font-family: 'Roboto Mono', monospace;
      font-weight: 100 Thin;
      padding-top: 5em;
  }

